.footer{
    height: 50rem;
    background-image: url(../img/footer_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: var(--blanco);
}

.footer a{
    color: var(--blanco);
    font-size: 2rem;
}

.copyright{
    background-color: var(--negro);
    text-align: center;
    margin: 5rem 0 0 0 ;
    padding: 1rem;
}